node_modules/
artifacts/
cache/
.env
package-lock.json

# ignore everything except circom files
circuits/init/*
!/circuits/init/init.circom

circuits/guess/*
!circuits/guess/guess.circom 
zk-hangman/circuits/powersOfTau28_hez_final_17.ptau

public/
artifacts/
circuits/powersOfTau28_hez_final_17.ptau
